/**
 * General css for admin portal
 */

.grid-action-col {
    display: inline-flex;
}

.grid-td-cell {
    word-break: break-all;
	overflow-wrap: break-word;
}

#loading-spinner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    width: 10em;
    height: 10em;
    border-top: 1em solid black;
    border-right: 1em solid transparent;
    animation: spinner 0.8s linear infinite;
    border-radius: 50%;
    margin: auto;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}